USE [master]
GO
/****** Object:  Database [QuizOnlineLinhNd]    Script Date: 6/1/2020 5:51:55 PM ******/
CREATE DATABASE [QuizOnlineLinhNd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizOnlineLinhNd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuizOnlineLinhNd.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuizOnlineLinhNd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuizOnlineLinhNd_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizOnlineLinhNd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizOnlineLinhNd]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/1/2020 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[Email] [varchar](255) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[StatusId] [varchar](30) NOT NULL,
	[RoleId] [varchar](30) NOT NULL,
 CONSTRAINT [PK__Account__A9D105352ABF2C8B] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 6/1/2020 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[AnswerContent] [varchar](300) NOT NULL,
	[QuestionId] [int] NULL,
 CONSTRAINT [PK__Answer__D48250044D48B1DD] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Question]    Script Date: 6/1/2020 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[QuestionContent] [varchar](500) NOT NULL,
	[CorrectAnswerID] [varchar](30) NOT NULL,
	[SubjectId] [varchar](30) NOT NULL,
	[StatusId] [varchar](30) NOT NULL,
 CONSTRAINT [PK__Question__0DC06FAC8E334E58] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/1/2020 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [varchar](30) NOT NULL,
	[RoleName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Status]    Script Date: 6/1/2020 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Status](
	[StatusName] [varchar](30) NOT NULL,
	[StatusId] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 6/1/2020 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectId] [varchar](30) NOT NULL,
	[NumberOfQuestions] [int] NOT NULL,
	[SubjectName] [varchar](30) NOT NULL,
	[TimeTest] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Test]    Script Date: 6/1/2020 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Test](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[TestTitle] [varchar](30) NOT NULL,
	[Score] [float] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[Email] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Test__8CC3316043F76927] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TestQuestions]    Script Date: 6/1/2020 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestQuestions](
	[TestQuestionsId] [int] IDENTITY(1,1) NOT NULL,
	[TestId] [int] NULL,
	[QuestionId] [int] NOT NULL,
	[AnswerId] [int] NOT NULL,
 CONSTRAINT [PK__TestQues__35E5A93CB2D42D10] PRIMARY KEY CLUSTERED 
(
	[TestQuestionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([Email], [Name], [Password], [StatusId], [RoleId]) VALUES (N'admin@gmail.com', N'admin', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'Activated', N'ADMIN')
INSERT [dbo].[Account] ([Email], [Name], [Password], [StatusId], [RoleId]) VALUES (N'student@gmail.com', N'Student Test', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'Activated', N'STUDENT')
INSERT [dbo].[Account] ([Email], [Name], [Password], [StatusId], [RoleId]) VALUES (N'test@gmail.com', N'linh linh', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'New', N'STUDENT')
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([AnswerId], [AnswerContent], [QuestionId]) VALUES (2, N'null', 1)
INSERT [dbo].[Answer] ([AnswerId], [AnswerContent], [QuestionId]) VALUES (3, N'ResultSet', 1)
INSERT [dbo].[Answer] ([AnswerId], [AnswerContent], [QuestionId]) VALUES (4, N'DataSet', 1)
GO
SET IDENTITY_INSERT [dbo].[Answer] OFF
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([QuestionId], [CreateDate], [QuestionContent], [CorrectAnswerID], [SubjectId], [StatusId]) VALUES (1, CAST(N'2020-05-20' AS Date), N'Statement object return SQL query result as ____ objects', N'4', N'PRJ311', N'QuesDelete')
INSERT [dbo].[Question] ([QuestionId], [CreateDate], [QuestionContent], [CorrectAnswerID], [SubjectId], [StatusId]) VALUES (4, CAST(N'2020-05-20' AS Date), N'JDBC supports ____ and____ models', N'7', N'PRJ321', N'QuesActive')
INSERT [dbo].[Question] ([QuestionId], [CreateDate], [QuestionContent], [CorrectAnswerID], [SubjectId], [StatusId]) VALUES (9, CAST(N'2020-05-20' AS Date), N'the ____ class is the primary class that has the driver information', N'1', N'PRJ321', N'QuesActive')
SET IDENTITY_INSERT [dbo].[Question] OFF
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (N'ADMIN', N'Admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (N'STUDENT', N'Student')
INSERT [dbo].[Status] ([StatusName], [StatusId]) VALUES (N'Account is Activated', N'Activated')
INSERT [dbo].[Status] ([StatusName], [StatusId]) VALUES (N'Account have delete', N'Delete')
INSERT [dbo].[Status] ([StatusName], [StatusId]) VALUES (N'New Student', N'New')
INSERT [dbo].[Subject] ([SubjectId], [NumberOfQuestions], [SubjectName], [TimeTest]) VALUES (N'PRJ311', 40, N'Java Desktop', 60)
INSERT [dbo].[Subject] ([SubjectId], [NumberOfQuestions], [SubjectName], [TimeTest]) VALUES (N'PRJ321', 50, N'Java Web ', 80)
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([TestId], [TestTitle], [Score], [CreateDate], [Email]) VALUES (8, N'PRJ311-Java Desktop', 2.25, CAST(N'2020-05-31' AS Date), N'student@gmail.com')
INSERT [dbo].[Test] ([TestId], [TestTitle], [Score], [CreateDate], [Email]) VALUES (9, N'PRJ311-Java Desktop', 0, CAST(N'2020-05-31' AS Date), N'student@gmail.com')
INSERT [dbo].[Test] ([TestId], [TestTitle], [Score], [CreateDate], [Email]) VALUES (10, N'PRJ311-Java Desktop', 1.25, CAST(N'2020-05-31' AS Date), N'student@gmail.com')
SET IDENTITY_INSERT [dbo].[Test] OFF
SET IDENTITY_INSERT [dbo].[TestQuestions] ON 

INSERT [dbo].[TestQuestions] ([TestQuestionsId], [TestId], [QuestionId], [AnswerId]) VALUES (178, 8, 44, 115)
INSERT [dbo].[TestQuestions] ([TestQuestionsId], [TestId], [QuestionId], [AnswerId]) VALUES (179, 8, 33, 71)
INSERT [dbo].[TestQuestions] ([TestQuestionsId], [TestId], [QuestionId], [AnswerId]) VALUES (180, 8, 42, 104)
GO
SET IDENTITY_INSERT [dbo].[TestQuestions] OFF
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Account__RoleId__1920BF5C] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Account__RoleId__1920BF5C]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Account__StatusI__182C9B23] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Account__StatusI__182C9B23]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK__Question__Status__1DE57479] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK__Question__Status__1DE57479]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK__Question__Subjec__1BFD2C07] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK__Question__Subjec__1BFD2C07]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK__Test__Email__20C1E124] FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Email])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK__Test__Email__20C1E124]
GO
ALTER TABLE [dbo].[TestQuestions]  WITH CHECK ADD  CONSTRAINT [FK__TestQuest__Answe__25869641] FOREIGN KEY([AnswerId])
REFERENCES [dbo].[Answer] ([AnswerId])
GO
ALTER TABLE [dbo].[TestQuestions] CHECK CONSTRAINT [FK__TestQuest__Answe__25869641]
GO
ALTER TABLE [dbo].[TestQuestions]  WITH CHECK ADD  CONSTRAINT [FK__TestQuest__Quest__24927208] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[TestQuestions] CHECK CONSTRAINT [FK__TestQuest__Quest__24927208]
GO
ALTER TABLE [dbo].[TestQuestions]  WITH CHECK ADD  CONSTRAINT [FK__TestQuest__TestI__239E4DCF] FOREIGN KEY([TestId])
REFERENCES [dbo].[Test] ([TestId])
GO
ALTER TABLE [dbo].[TestQuestions] CHECK CONSTRAINT [FK__TestQuest__TestI__239E4DCF]
GO
USE [master]
GO
