.bgcolor {
    background-color: #f2f2f2;
    height: 950px;
}
.box_subject {
    border: solid 2px #106b03;
    border-radius: 3%;
}
.box_subject:hover {
    border: solid 1px #c60929;
}
.box_subject_title {
    text-align: center;
    margin-top: 10px;
}
.box_subject_conten {
    display: block;
    padding: 10px;
    opacity: 0.8;
}
